<script lang="ts" setup>
import { mdiSchoolOutline, mdiChevronUp, mdiChevronDown } from "@mdi/js";
</script>

<script lang="ts">
export default {
  data: () => ({
    show: false,
  }),
};
</script>
<script lang="ts" setup>
import { mdiSchoolOutline, mdiChevronUp, mdiChevronDown } from "@mdi/js";
</script>

<script lang="ts">
export default {
  data: () => ({
    show: false,
  }),
};
</script>
<template> </template>
<v-card-title> Name:Wittaya Deesongkroh</v-card-title>
<v-card-subtitle> </v-card-subtitle>